*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h3{
    color: red;
}
#login{
    background-color: white;
}
#signup{
    background-color: red;
    color: white;
}
.upvote{
    background-color: green;
    color: aliceblue;
}
p a{
    color: purple;
}
p+h3{
    text-decoration: underline;
}
div>input{
    background-color: green;
}
input[type="password"]{
    color: red;
}
button:hover{
    background-color: black;
    color: white;
    
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: pink;
}

input[type="radio"]:checked +label{
    color: red;
}