<%- include("includes/head.ejs")  %>
<body>
    <h1>Dice value =
        <%= data %>
    </h1>
   <h1> <% if(data==6) { %>
        <h2>Nice! roll dice again</h2>
    <% } %></h1>

    <%- include("includes/footer.ejs")  %>
</body>
</html>

